@model PruebaTecnica.Models.Solicitude

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="~/css/solicitud.css" rel="stylesheet" />
</head>
<body>
    <div class="barra">
        <h4>Informacion la solicitud de @Html.DisplayFor(model => model.Name)</h4>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i></a>
    </div>
    <div class="container">
        <br/>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Departament)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Departament)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Application)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Application)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FinalDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FinalDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-10">
                    @if(Model.Estado == "" || Model.Estado == null)
                    {
                        <p>Sin Revisar</p>
                    }else{
                        @Html.DisplayFor(model => model.Estado)
                    }
                    
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-secondary">Volver</a>
        </div>
    </div>


</body>
</html>
