@model IEnumerable<PruebaTecnica.Models.Usuario>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="~/css/user.css" rel="stylesheet" />
</head>
<body>
    <div class="barra">
        <h4>Detalles de Usuario</h4> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i></a>
    </div>
    <div class="container">
        <br />
        <p>
            <a asp-action="Create" class="btn btn-success">Add New</a>
        </p>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Lastname)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th scope="col">
                        Departamento
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th scope="col">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ObDepartamento.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdUsuario">Details</a>
                            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdUsuario">Edit</a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdUsuario">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
